/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/Collatz problem-c_sharp/bin/
/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/Collatz problem-c_sharp/obj/
/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/.vscode/
Collatz problem-c_sharp/obj/Collatz problem-c_sharp.csproj.nuget.dgspec.json
Collatz problem-c_sharp/obj/Collatz problem-c_sharp.csproj.nuget.g.props
Collatz problem-c_sharp/obj/Collatz problem-c_sharp.csproj.nuget.g.targets
Collatz problem-c_sharp/obj/project.assets.json
Collatz problem-c_sharp/obj/project.nuget.cache
Collatz problem-c_sharp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Collatz problem-c_sharp/obj/Debug/net7.0/Collatz problem-c_sharp.AssemblyInfo.cs
Collatz problem-c_sharp/obj/Debug/net7.0/Collatz problem-c_sharp.AssemblyInfoInputs.cache
Collatz problem-c_sharp/obj/Debug/net7.0/Collatz problem-c_sharp.assets.cache
Collatz problem-c_sharp/obj/Debug/net7.0/Collatz problem-c_sharp.GeneratedMSBuildEditorConfig.editorconfig
Collatz problem-c_sharp/obj/Debug/net7.0/Collatz problem-c_sharp.GlobalUsings.g.cs
