/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/Collatz problem-c_sharp/bin/
/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/Collatz problem-c_sharp/obj/
/Users/uchiyamakouhei/Developes/Collatz problem_new/Collatz-problem/.vscode/
/Collatz problem-c_sharp/obj/
/Collatz problem-c_sharp/bin/
/.vscode/